.claude/
.env
.env.*
.infisical.json
/node_modules
backup.sql
prisma/generated
server.log
opencode.json

# React Router
/.react-router/
/build/

# Ignore test results
.test-server.json
__screenshots__/**/*.diff.png
__screenshots__/**/*.new.png
__screenshots__/**/*.new.html
__screenshots__/**/*.html.diff
test-results/

# Ignore worktrees
.worktrees/

# Ignore scratch files
scripts/scratch.ts
