/node_modules
.env
.env.test
.claude/
prisma/generated
backup.sql
server.log
.infisical.json

# React Router
/.react-router/
/build/

# Vercel
.vercel/*

# Ignore test results
__screenshots__/**/*.diff.png
__screenshots__/**/*.new.png
__screenshots__/**/*.new.html
__screenshots__/**/*.html.diff
test-results/
.vercel
.worktrees/
